<include file="../Application/Home/View/Common/header.html"/>
<include file="Common/top_user_info"/>
<include file="Common/nav"/>
<div class="g_container mt_20">
	<div class="g_row">
		<section class="g_cell_9 pt_10">
   <div class="f_ss_gr">

<div class="input_ss">
<input type="text" class="s_ss_content">
</div>
<div class="s_act">
<input type="submit" value class="ico_s">
</div>
<div class="fss_btn">
<input type="button" class="u_btn_sl" onclick="window.location.href='{:U('/home/share/add')}'" value="分享" style="width:100%;">
</div>
</div>

   <div class="clear mb_15"></div> 
 
 <div class="m_box">         
<div class="sc_top" id="sc_top" style="width:100%; height:60px; background:#fff; position:fixed; top:0; left:0; display:none"></div>
<ul class="u_tab2" id="nav">
<li class="u_tab2_item hover" id="uclTab_1" onClick="setTab('uclTab_','u_tab2_item',1,6)">资料</li>
<li class="u_tab2_item" id="uclTab_2" onClick="setTab('uclTab_','u_tab2_item',2,6)">视频</li>
<li class="u_tab2_item" id="uclTab_3" onClick="setTab('uclTab_','u_tab2_item',3,6)">心得</li>

 <li class="f_fr">
 <span class="pa_up" id="pa1" onClick="onchan('pa1')"> 时间&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span class="pa_up" id="pa2" onClick="onchan('pa2')">阅读量&nbsp;&nbsp;&nbsp;&nbsp;</span>

</li>
</ul>
<php>
	$tmp = M("share")->join('LEFT JOIN zysc_view ON share.school_id=zysc_view.zhuanye_id')->join("LEFT JOIN mb_member ON mb_member.id=share.member_id")->field("share.*,mb_member.avatar")->select();
	foreach($tmp as $share){
		$share = parse_class($share);
		$shares[$share['type']][] = $share;
	}
</php>
<!--资料-->
<div id="uclTab_1box" class="clear gr_ss">
<ul class="m_datalist">                    
   	<foreach name="shares[0]" item="s">
		  <include file="../Application/Home/View/Common/_share.html"/>
	</foreach>
</ul>
</div>
<!--视频-->
<div id="uclTab_2box" style="display:none;">
<ul class="m_datalist">
       <foreach name="shares[1]" item="s">
	  <include file="../Application/Home/View/Common/_share_video.html"/>
	</foreach>  
 <li class="clear"></li>
</ul>
</div>
<!--心得-->
<div id="uclTab_3box" style="display:none;">
<ul class="m_datalist" >
    <foreach name="shares[2]" item="s">
	  <include file="../Application/Home/View/Common/_share.html"/>
	</foreach>
</ul>          
</div>	

<div class="u_fy">
	<php>echo pageHtml(M("share")->where(["member_id"=>$m[id]])->count())</php>
</div>

</div>	         			   
		</section>
        
		<include file="Common/right"/>
	</div>
</div>
<include file="../Application/Home/View/Common/footer.html"/>