<include file="Common:header" /> 
<div class="g_container mt_20 f_clearfix">
  <div class="g_row">
    <div class="g_cell_12 m_box pd_20">
   <div class="cls_name">{$s.description}&nbsp;&nbsp;&yen;{$b.bid_price}元/次</div>
   <ul class="m_form f_clearfix pd_20">
    <li class="m_item" style="margin-bottom:0;"><div class="m_formtit">选择次数：</div>
              <ul>
            <li id="uclTab_1" class="u_tab2_item1 hover" onClick="setTab('uclTab_','u_tab2_item1',1,2)">自定义次数</li>
             <li id="uclTab_2" class="u_tab2_item1" onClick="setTab('uclTab_','u_tab2_item1',2,2)" style="margin-bottom:0;">优惠套餐</li>          
            </ul>
      
        </li>
         <li class="m_item" id="uclTab_1box" style="margin-top:30px;">
<form method="post">
         <div class="m_formtit">输入次数：</div>
          <input type="text" class="u_inp_t" name="num">次（请填写整数）
          <div class="total">
          <p>
             <input type="radio" name="pay_type" value="0">微信&nbsp;&nbsp;&nbsp;<input type="radio" name="pay_type" value="1">支付宝&nbsp;&nbsp;&nbsp;<input type="radio" name="pay_type" value="2" checked="checked">余额</p>
          <p>总价：<strong><span id="total"></span>元</strong></p>
		   <p>已付：<strong><span>{$d[advance_payment]}</span>元</strong></p>
		    <p>应付：<strong><span id="fee"></span>元</strong></p>
       		  <input type="hidden" value="" name="test" id="test">
          <input type="submit" class="u_btn_sc" value="购买" style="margin-left:0; margin-top:20px;">

		    <p id="bas">您托付的费用的&yen;<span class="txt_oragin" id="ba"></span>余额，将在付款后退回您的新助邦账户</p>
          </div>
</form>
        </li>
           <li class="m_item cls_num" id="uclTab_2box" style="display:none;">
          
             <ul class="cls_se">
             <php>
             	$ps = M("service_package")->where(["service_id"=>$s['service_id']])->select();
             </php>
             <foreach name="ps" item="p" key="k">
                <li data-id={$p.id} data-price='{$p["num"]*$p["discount"]*$b["bid_price"]/10}' class="cls_se_item packages <eq name="k" value="0">on</eq>">
                  <div class="cls_img">
                  <img src="images/icons/cls.png">
                  </div>
                  <div class="cls_txt">
                    <p><strong class="cls_n">{$p.num}</strong>次<strong class="cls_dis">（{$p.discount}折）</strong></p>
                    <ul style="float:left; margin-top:10px;">

        <li class="bf_item selecty">
        预
        <div class="bf_ts">
        <div class="bf_tst">拟定阶段学习规划</div>
        <div class="bf_tsc">新助邦提供各学科学习规划范本根据学生的实际情况进行修改即可</div>
        <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
         <li class="bf_item selecty">
        计
        <div class="bf_ts">
        <div class="bf_tst">拟定授课计划和课后练习</div>
        <div class="bf_tsc">简单填写授课时间，地点，上课内容和需要讲义</div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
<eq name="p['type1']" value='1'>
         <li class="bf_item selecty">
        答
        <div class="bf_ts">
        <div class="bf_tst">提问必答</div>
        <div class="bf_tsc">24小时内，解答学生的问题，帮学生及时扫清学习上的疑问，紧急情况下除外</div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
</eq>
<eq name="p['type2']" value='1'>
         <li class="bf_item selecty">
        测
        <div class="bf_ts">
        <div class="bf_tst">测试</div>
        <div class="bf_tsc">每个阶段结束后，对学生的学习情况进行测评，有针对性调整学习计划</div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
        </eq>
        <eq name="p['type3']" value='1'>
         <li class="bf_item selectn">
        论
        <div class="bf_ts">
        <div class="bf_tst">指导论文</div>
        <div class="bf_tsc"></div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
        </eq>
        <eq name="p['type4']" value='1'>
         <li class="bf_item selectn">
        导
        <div class="bf_ts">
        <div class="bf_tst">协助联系导师</div>
        <div class="bf_tsc"></div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
        </eq>
       <if condition="$p['type5'] neq ''">
         <li class="bf_item selectn">
        其他
        <div class="bf_ts">
        <div class="bf_tst">其他</div>
        <div class="bf_tsc">{$p.type5}</div>
         <p class="ts_arrow"></p>
      <p class="u_btn_z"></p>
        </div>
        </li>
</if>
        </ul>
                  </div>
                </li>
</foreach>

             
             </ul>
<form method="post">
<input type="hidden" name="package_id">
             <div class="total package">
             <p>
               <input type="radio" name="pay_type" value="0">微信&nbsp;&nbsp;&nbsp;<input type="radio" name="pay_type" value="1">支付宝&nbsp;&nbsp;&nbsp;<input type="radio" name="pay_type" value="2" checked="checked">余额</p>
             <p>总价：<strong><span id="total"></span>元</strong></p>
			 <p>已付：<strong><span></span>元</strong></p>
			 <p>应付：<strong><span id="fee"></span>元</strong></p>
         <input type="hidden" value="" name="test" id="test">
          <input type="submit" class="u_btn_sc" value="购买" style="margin-left:0; margin-top:20px;">
		   <p id="bas1">您托付的费用的&yen;<span class="txt_oragin" id="ba1"></span>余额，将在付款后退回您的新助邦账户</p>
             </div>
 </form>
        </li>
   </ul>
   
    </div>
  </div>
</div>
<include file="Common:footer" /> 
<style type="text/css">
#bas{ display:none; }
</style>
<script type="text/javascript">
var fee;
	$("li.packages").click(function(){
		$("li.packages").removeClass("on");
		$(this).addClass("on");
    $("#uclTab_2box #total").html($(this).attr("data-price"));
	 fee = $(this).attr("data-price") - {$d.advance_payment};
    $("#uclTab_2box #fee").html(fee);

	if(fee < 0){
			var bas = document.getElementById('bas1');
			bas.style.display ="block";
	    	$("#uclTab_1box #ba1").html({$d.advance_payment} - price);
		}else{
		    var bas = document.getElementById('bas1');
			bas.style.display ="none";
		}
	})

	$("#uclTab_1box form").find("input[name=num]").keyup(function(){
		var price = {$b.bid_price} * parseInt($(this).val());
		$("#uclTab_1box #total").html(price);
		 fee = price - {$d.advance_payment};
		$("#uclTab_1box #fee").html(fee);
		  
		if(fee < 0){
			var bas = document.getElementById('bas');
			bas.style.display ="block";
	    	$("#uclTab_1box #ba").html({$d.advance_payment} - price);
		}else{
		    var bas = document.getElementById('bas');
			bas.style.display ="none";
		}
	})
  function go_pay(f){
	  f.find("input[name=test]").val(fee);
	  var test = f.find("input[name=test]").val();
    var pay_type = f.find('[name=pay_type]:checked').val(); 
    var pay = function(){
      f.ajaxSubmit(function(d){
		  if(fee > 0){
        if (pay_type==2) {
          if (d.suc) {
            alert("购买成功");
            window.location.href=  "{:U('/member/ServiceOrder')}";
          }else{
            alert(d.message);
          }
        }else if(pay_type == 1){
          go_alipay(d);
        }else {
          go_wxPay(d.message.code,d.message.id,d.message.type);
        }}else{
		 if (d.suc) {
            alert("购买成功");
            window.location.href=  "{:U('/member/ServiceOrder')}";
          }else{
            alert(d.message);
          }
		}
      })
    };
	if(fee > 0){
	  if (pay_type == 2) {
      handle_paypwd(function(){
        pay();
      })
    }else{
      pay();
    }
	}else{
	   handle_paypwd(function(){
        pay();
      })
	}
    
  }
	$("#uclTab_1box form").submit(function(){
		var num = $(this).find("input[type=text]").val();
		if (!is_gt0(num)) {
			alert("请输入次数");
			return false;
		}
    go_pay($(this));
		return false;
	})
	$("#uclTab_2box form").submit(function(){
		var package_id = $("#uclTab_2box").find("li.on").attr("data-id");
		$(this).find("input[name=package_id]").val(package_id);
		go_pay($(this));
		return false;
	})
  <gt name='_GET.pid' value='0'>
    setTab('uclTab_','u_tab2_item1',2,2);
    $("li.packages[data-id={$_GET.pid}]").click();
  </gt>
</script>
