<include file="Common:admin_header" />
<a class="btn btn-outline btn-success btn-sm" href="{:U('admin/SystemMessage/add')}">添加</a>
<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
    <td>内容</td>
      <td>创建时间</td>
      <td>操作</td>
    </tr>
  </thead>
    <foreach name="list" item="c">
    <tr>
      <td>{$c['id']}</td>
      <td>{$c['content']}</td>
      <td>{:date('Y-m-d h:i:s',$c['time_create'])}</td>
      <td>
        <a href="{:U('delete')}?id={$c['id']}"  class="btn btn-danger">删除</a>
        <a href="{:U('edit')}?id={$c['id']}"  class="btn btn-info">编辑</a>
      </td>
    </tr>
    </foreach>
</table>
<include file="Common:admin_footer" />
