<include file="../Application/Home/View/Common/header.html"/>
<include file="Common/top_user_info"/>
<include file="Common/nav"/>

<div class="g_container mt_20">
	<div class="g_row">
	<section class="g_cell_9">


   <div class="f_ss_gr">

<div class="input_ss">
<input type="text" class="s_ss_content">
</div>
<div class="s_act">
<input type="submit" value class="ico_s">
</div>
<div class="fss_btn">
<input type="button" class="u_btn_sl" onclick="onoff('mianshuoshuofb','shuoquize','ucl_ssinput m_box pd_20 mb_20')" value="发说说" style="width:49%;">
<button class="u_btn_sc" onclick="onoff('shuoquize','mianshuoshuofb','ucl_ssinput m_box pd_20 mb_20')" style="padding-top:6px; padding-bottom:6px; background:#fff; border:1px solid #ff7101; color:#ff7101; width:49%;">有偿问答</button>
</div>
</div>

   <div class="clear mb_15"></div>

  <div id="mianshuoshuofb" class="ucl_ssinput m_box pd_20 mb_20">
	      
        <include file="../Application/Home/View/MemberPost/_add.html"/>
	    </div>

		
		<div id="shuoquize" class="ucl_ssinput m_box pd_20 mb_20" >
	     <include file="../Application/Home/View/MemberPost/_quiz.html"/>             
	    </div>
                
<div class="sc_top" id="sc_top" style="width:100%; height:60px; background:#fff; position:fixed; top:0; left:0; display:none"></div>
<ul class="u_tab2 m_box" id="nav">

<li class="u_tab2_item" id="uclTab_1" onClick="setTab('uclTab_','u_tab2_item',1,6)"><a href="{:U('/member/quiz/index')}">我的提问</a></li>
<li class="u_tab2_item hover" id="uclTab_2" onClick="setTab('uclTab_','u_tab2_item',6,6)"><a href="{:U('/member/quiz/ans')}">我的回答</a></li>
<li class="u_tab2_item" id="uclTab_2" onClick="setTab('uclTab_','u_tab2_item',2,6)"><a href="{:U('/member/quiz/benefitme')}">我看的答案</a></li>
<li class="u_tab2_item" id="uclTab_3" onClick="setTab('uclTab_','u_tab2_item',3,6)"><a href="{:U('/member/quiz/ansm')}">回答我的<if condition="($answercount)"><i class="u_tsd">{$answercount}</i></if></a></li>
<li class="u_tab2_item" id="uclTab_4" onClick="setTab('uclTab_','u_tab2_item',4,6)"><a href="{:U('/member/quiz/accept')}">我被选中<if condition="($acceptcount)"><i class="u_tsd">{$acceptcount}</i></if></a></li>
<li class="u_tab2_item" id="uclTab_5" onClick="setTab('uclTab_','u_tab2_item',5,6)"><a href="{:U('/member/quiz/benefit')}">看答案的<if condition="($benefitcount)"><i class="u_tsd">{$benefitcount}</i></if></a></li>

 <li class="f_fr">
 <span class="pa_up" id="pa1" onClick="onchan('pa1')"> 时间&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;<span class="pa_up" id="pa2" onClick="onchan('pa2')">阅读量&nbsp;&nbsp;&nbsp;&nbsp;</span>
<span class="pa_up" id="pa3" onClick="onchan('pa3')">活跃度&nbsp;&nbsp;&nbsp;&nbsp;</span>
</li>
</ul>

   	<div id="uclTab_2box">
	<ul>
	<foreach name="ans" item="an">
	<li class="ucl_ssitem m_box">
				    <div class="ucl_ssusbox">
                    <div class="m_imgs">

					  	<img src="{$an.avatar}">
                        </div>
				    </div>
				  	<div class="ucl_ssrbox">
				  	  
				  		<div class="ucl_ssname">
                       <h4>我&nbsp;&nbsp;<strong class="txt_oragin fs_14">已回答</strong>  </h4>
                    <if condition="($an.accept eq '')">
                   <input type="button" class="u_btn_bc seans f_fr" value="编辑" href="{:U('/member/quiz/answer',['id'=>$an[aid]])}">
				   <else/>
				   <input type="button" class="u_btn_bc seans f_fr" value="查看详情"  href="{:U('/memberPost/answerdetail',['id'=>$an[aid]])}">
				   </if>

                        <span>{$an.ans_time}</span>
                        
                        
                        </div>
				  		<div class="ucl_sstext anscon">
				  		  <p>{$an.acontent}</p>
				  		</div>
                        
                         <div class="sscon" href="{:U('/home/memberPost/detail',['id'=>$an[id]])}">
                         <div class="sface">
			
                         <img src="{$an[qavatar]}">
                         </div>
                         <div class="ms">
                           <h4>{$an.member_nickname}<span class="f_fr fs_14"><if condition="($an[accept] eq '')">悬赏<else/>已悬赏</if>&nbsp;&nbsp;<strong class="txt_green">{$an.reward}元</strong></span></h4>                                       
                         <p>{$an.content}</p>
                         </div>
                         
                         <div class="clear"></div>
                 </div>
             </div>
             
            
				  </li>
	</foreach>
				  
                  </ul>

</div>
	</section>

	<include file="Common/right"/>
	</div>
</div>
<include file="../Application/Home/View/Common/footer.html"/>


