
<form method="post" enctype="multipart/form-data" class="edit_education">
    <!-- <div class="grxx_div_r sy_grxx_js m_box"> -->

        <div class="grxx_div_r sy_grxx_js m_box">
			<div class="grxx_div_r_txt">
				教育信息
			</div>

        <div class="fn_cb">
		 <!-- <p id="add_schools" class="scadd" onclick="bz('adedu')"><span style="color:#ff7101;">+</span>&nbsp;&nbsp;点击添加教育信息</p> -->
		</div>
        <style>
            .education li {
                float: left;
                width: 16%
            }
        </style>
        <ul id="sy_grxx_list2"  class="sy_grxx_list on">
			<li>
				<div class="sy_grxx_tit">
					&nbsp;
				</div>
				<div id="sy_grxx_schoollist" class="sy_grxx_ct">
				  <i class="sy_grxx_addschool">+添加教育信息</i>
				</div>
			</li>
		</ul>
        
        <php>
           
            $infos = M("zysc_view")->join("LEFT JOIN mb_education_info ON mb_education_info.school_id=zysc_view.zhuanye_id")->where(['member_id'=>session('id')])->field("zysc_view.*,mb_education_info.id as education_id,year,type")->select();         
        </php>
        <div class="sy_grxx_tit">&nbsp;</div>


        <ul id="sy_grxx_list2" class=" sy_grxx_list on">
            <li>

                <table class="edutable" id = "eduli">
                    <tr data-id='{$info[education_id]}'>
                        <td>学历</td>
                        <td>城市</td>
                        <td>学校</td>
                        <td>学院</td>
                        <td>专业</td>
                        <td>毕业年份</td>
                        <td class=""></td>
                    </tr>

					<foreach name="infos" item="info">
                        <tr data-id='{$info[education_id]}'>               
                           <td data-id=''>{$info[type]}</td>
                            <td data-id='{$info[area_id]}' name="education_city">{$info[area_title]}</td>
                            <td data-id='{$info[school_id]}'>{$info[school_title]}</td>
                            <td data-id='{$info[yuan_id]}'>{$info[yuan_title]}</td>
                            <td data-id='{$info[zhuanye_id]}'>{$info[zhuanye_title]}</td>
                            <td data-id='{$info[year]}'>{$info[year]}</td>
                            <td class="">
                                <a class="edit">&nbsp;&nbsp;修改</a><a class="delete">删除</a>
                            </td>
                        </tr>
                    </foreach>
              
                </table>


                <!-- 点击添加学校 -->
				<if condition="$infos">
                <div class="" id="">
                  
               <div id="adedu" class="re_edu" >

                     
                        <div class="grxx_div_r_txt" id="add_Education_info" >添加教育信息</div>
                        <ul class="sy_school_item on">
                            <input type="hidden" name="id" value=""/>
                            <input type="hidden" name="school_id"/>
                            <li>
                                
                                <div class="sy_grxx_tit">学历：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">

                                        <select class="sy_gr_s" id="type" name="type">
                                            <option value="本科">本科</option>
                                            <option value="硕士">硕士</option>
                                            <option value="博士">博士</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sy_grxx_tit">学校城市：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">
                                        <select class="sy_gr_s school0">
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">学校名称：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select class="sy_gr_s school1"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">院系：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select class="sy_gr_s school2"></select></div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">专业：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select name="school_id" class="sy_gr_s school3"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">入学时间：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">
                                        <select name="year" class="sy_gr_s">
                                            <php>
                                                for($i = 2016;$i > 1980;$i--){
                                            </php>
                                            <option value="{$i}">{$i}</option>
                                            <php>
                                                }
                                            </php>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="sy_grxx_submitbox">
                                <input type="submit" value="提交" class="sy_grxx_sub" style="width:60%">
                            </li>
                        </ul>
                    </div>
                </div>
				<else/>
				 <div class="" id="">
                  
             <div id="adedu" class="re_edu" hidden>
                        <div class="grxx_div_r_txt" id="add_Education_info" >添加教育信息</div>
                        <ul class="sy_school_item on">
                            <input type="hidden" name="id" value=""/>
                            <input type="hidden" name="school_id"/>
                            <li>
                                
                                <div class="sy_grxx_tit">学历：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">

                                        <select class="sy_gr_s" id="type" name="type">
                                            <option value="本科">本科</option>
                                            <option value="硕士">硕士</option>
                                            <option value="博士">博士</option>
                                      
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sy_grxx_tit">学校城市：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">
                                        <select class="sy_gr_s school0">
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">学校名称：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select class="sy_gr_s school1"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">院系：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select class="sy_gr_s school2"></select></div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">专业：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox"><select name="school_id" class="sy_gr_s school3"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sy_grxx_tit">入学时间：</div>
                                <div class="sy_grxx_ct">
                                    <div class="selectbox">
                                        <select name="year" class="sy_gr_s">
                                            <php>
                                                for($i = 2016;$i > 1980;$i--){
                                            </php>
                                            <option value="{$i}">{$i}</option>
                                            <php>
                                                }
                                            </php>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="sy_grxx_submitbox">
                                <input type="submit" value="提交"  style="width:60%">
                            </li>
                        </ul>
                    </div>
                </div>
				</if>
            </li>

        </ul>
    <!-- </div> -->
	</form>
    <include file="Common/_selectSchool.js"/>
    <script type="text/javascript">
       /* $("#add_schools").click(function (e) {
            $schoollist = $("#sy_grxx_schoollist");
            $schoollist.attr("class", "sy_grxx_ct");
            $schoollist.removeAttr("hidden");

            $("#add_Education_info").removeAttr("hidden");
            $("#edit_Education_info").hide();
            $("#add_Education_info").show();

        });*/

        $.get("{:U('/home/school/index')}", function (d) {
            var html = build_options(d.message);
            $(".school0").html(html);
            $(".school0").change();
        });

        //添加学历信息
        $("form.edit_education").submit(function () {
            var school_id = $(this).find("select[name=school_id]").val();
            var type = $("#type").val();
            var year=$(this).find("select[name=year]").val();

            if (!school_id) {
                return false;
            }

			 $(this).find("input[name=school_id]").val(school_id);
            var d = $("form.edit_education").serialize() + "&type=" + type+ "&year=" + year;
            $.post("{:U('/home/member/eduadd')}",d, function (data) {
				//console.log(data);return;
                window.location.reload();					
			/*$("#eduli:first-child").append("<tr data_id='"+data.message.eduation_id+"'> <td data-id=''>"+data.message.type+"</td> <td data-id='"+data.message.area_id+"' name='education_city'>"+data.message.area_title+"</td><td data-id='"+data.message.school_id+"'>"+data.message.yuan_title+"</td><td data-id='"+data.message.zhuanye_id+"'>"+data.message.zhuanye_title+"</td></td data-id='"+data.message.year+"'>"+data.message.year+"</td><td><a class='edit'>&nbsp;&nbsp;修改</a><a class='delete'>删除</a></td>");*/
            });
            return false;
        }); 

        $("a.edit").click(function () {
            /**
             *
             * 显示学历修改表单
             */
            $("#add_Education_info").hide();
            $schoollist = $("#sy_grxx_schoollist");
            $schoollist.attr("class", "sy_grxx_ct");
            $schoollist.removeAttr("hidden");
            $("#edit_Education_info").removeAttr("hidden");
            $("#edit_Education_info").show();

            //获取被修改的教育信息

            var tr = $(this).parent().parent();

            $("input[name=id]").val(tr.attr("data-id"));
            school0_id = tr.find("td").eq(0).attr("data-id");
            school1_id = tr.find("td").eq(1).attr("data-id");
            school2_id = tr.find("td").eq(2).attr("data-id");
            school3_id = tr.find("td").eq(3).attr("data-id");
            $(".school0").val(school0_id);
            $.get("{:U('/home/school/index')}", {pid: school0_id}, function (d) {

                //生成城市下拉列表
                var html = build_options(d.message);
                $(".school1").html(html);
                $(".school1").val(school1_id);
            });
            $.get("{:U('/home/school/index')}", {pid: school1_id}, function (d) {
                var html = build_options(d.message);
                $(".school2").html(html);
                $(".school2").val(school2_id);
            });
            $.get("{:U('/home/school/index')}", {pid: school2_id}, function (d) {
                var html = build_options(d.message);
                $(".school3").html(html);
                $(".school3").val(school3_id);
            });
            $("select[name=year]").val(tr.find("td").eq(4).attr("data-id"));
            //alert("修改学历");
        });
        $("a.delete").click(function () {
            var tr = $(this).parent().parent();
            $.post("{:U('/home/educationInfo/delete')}", {id: tr.attr("data-id")}, function () {
                window.location.reload();
            })
        });

        $("input[name=id]").val(0);
    </script>
