<style type="text/css">
	.rz_img img{
		width:300px;
	}
	
	.rz_img a{
		color:white;
	}
	
</style>
			<div id="clsTab9_3box">
			<ul class="m_form f_clearfix pd_20">
			<if condition="$m['is_realname'] eq 1">
				<li class="m_item alert alert-info">
			      <div class="">你的实名认证信息已通过审核</div>
			    </li>
				<php>
					$profile = M("mb_profile")->where(["member_id"=>$m['id'],"profile_type"=>0])->order("profile_id DESC")->find();
				</php>
				<div style="margin-left: 80px;margin-top: 10px">真实姓名：{$profile['realname']}</div>
				<div style="margin-left: 80px;margin-top: 10px">身份证号：{$profile['id_card_no']}</div>
				<div style="margin-left: 80px;margin-top: 10px">证件照正面：<img src="{$profile['profile_front']}" style="width:200px;height: 200px"></div>
				<div style="margin-left: 80px;margin-top: 10px">证件照反面：<img src="{$profile['profile_back']}" style="width:200px;height: 200px"></div>
			<else  />
			<php>
				$profile = M("mb_profile")->where(["member_id"=>$m['id'],"profile_type"=>0])->order("profile_id DESC")->find();
				
			</php>
			<if condition="$profile  AND ($profile['status'] eq 0)">
				<li class="m_item alert alert-info">
			      <div class="">正在审核</div>
			    </li>
			<else/>
			<eq name='profile.status' value='2'>
				<li class="m_item alert alert-danger"><div class="">审核被拒绝</div></li>
			</eq>
			
			<form method="post" enctype="multipart/form-data" class="form2" action="{:U('/home/member/realname')}">
			    <li class="m_item">
			      <div class="m_formtit">真实姓名：</div>
			      <input type="text" isChinese="true" name="realname" class="u_inp_t" required="true">
			    </li>
				
		
			    <li class="m_item">
			      <div class="m_formtit">身份证号：</div>
			      <input type="text" name="id_card_no" class="u_inp_t" isIdCard="true" required="true" maxlength='18' minlength='18'>
			    </li>
                  <li class="m_item">
			      <div class="m_formtit">证件照上传：</div>
                   <p style="margin-top:5px;">可以上传 jpg，gif，pbg格式的图片，且文件小于2M</p>
			    <div class="rz_img" style="margin-left:150px;"> 
                 正面：<span class="sc_file">+<input type="text" name="profile_front" required="true"></span>&nbsp;
					<a class="btn btn-primary" id="0">重传</a>
                 </div>

                <div class="rz_img" style="margin-left:150px;">
                反面：<span class="sc_file">+<input type="text" name="profile_back" required="true"></span>
				<a class="btn btn-primary" id="1"> 重传</a>
			     </div>
			    </li>
			
			    <li class="m_item" style="padding-left:50px;">
			      <input type="submit" value="确认提交" class="u_btn_sl pd_20">
			    </li>
			  </form>
			  </if>
			  </if>
  			  </ul>
			</div>
<script type="text/javascript">

$("form").go_validate(function(form){
	$(form).ajaxSubmit(function(d){
		window.location.reload();
	})
},{});
$(".sc_file").click(function(){
	var t = $(this);
	go_upload(function(src){
		t.find("input").val(src);
		t.after("<img src='"+src+"'/>");
	});
})

$(".rz_img a").click( function()
	{
		var index = $(this).attr("id");
		$(".rz_img:eq(" + index + ") img").remove();
	});
	

</script>