<div class="modal fade modal_add_demand_example" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> 学生填写《考研资料需求》（参考范本） </h4>
      </div>
      <div class="modal-body">


        <div class="aui_content" style="padding: 20px 25px;"><div style="word-break:break-all;width:780px;">
<p>
  <span style="font-family:SimHei;font-size:14px;">【一句话需求】：</span>填写：研究方向，资料类别，年度
</p>
<p>
  <span style="font-size:14px;">【具体描述】：</span>（以下资料类别仅供参考，建议一套完整的全面的考研专业课资料售价在500-700元之间，
</p>
<p>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;可以单买，也可以打包买。
</p>
<p>
  </p>
  <div style="height:700px;">
  <table width="631" cellspacing="0" cellpadding="0" border="1" align="left" style="border:none;" class="MsoNormalTable">
    <tbody>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;">序号<span></span></span></b> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" style="text-align:center;" class="MsoNormal">
            <b><span style="font-family:黑体;">资料</span></b><b><span style="font-family:黑体;">类别</span></b> 
          </p>
        </td>
        <td width="238" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;">资料说明<span></span></span></b> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" style="text-align:center;" class="MsoNormal">
            <b><span style="font-family:黑体;">具体要求<span></span></span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;">价格</span></b><b><span style="font-family:黑体;">（新助邦提供的市场调研数据）</span></b> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">1</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">初试真题<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">研究生入学考试试题，以近<span>5</span>年优先<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">英语：<span>15</span>元<span> </span>数学：<span>15</span>元<span> </span>政治：<span>15</span>元<span> </span>专业课：<span>20-180</span>元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">2</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">初试真题答案<span>(</span>或解析<span>)</span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">一般是学生做的或者老师提供的真题参考答案。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">英语：<span>25</span>元<span> </span>数学：<span>30</span>元<span> </span>政治：<span>25</span>元<span> </span>专业课：<span>30-200</span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">3</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">复试真题<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;" rowspan="2">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">复试阶段的入学考试真题、答案、解析，包括专业课（笔试、面试）、英语（笔试、面试）、加试<span>(</span>笔试、面试<span>)</span>、政治（笔试、面试）等。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">20-250</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">4</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">复试真题答案<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">40-350</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">5</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">考试大纲<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">一般是指老师或者研究生对参考书目中的各章节属于考试范围内的考点罗列。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">20-80</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">6</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">讲义、课件<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">一般是指本科生、研究生在校期间授课老师提供的讲义稿，一般以<span>WORD</span>、<span>PDF</span>、<span>ppt</span>幻灯片等格式呈现。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">30-250</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">7</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">笔记<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">学生在听课时所作的课堂笔记、心得、答题技巧等。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">40-260</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">8</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">习题<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">老师课后布置或教科书等资料提供的习题、本科时期的期中（末）试卷。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">20-180</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">9</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">习题答案<span>(</span>或解析<span>)</span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">上述习题对应的答案。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">20-195</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">10</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">模拟题<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">冲刺阶段模拟试卷，包括学校老师和专咨提供的。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">30-200</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">11</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">模拟题答案<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">上述模拟题对应的答案。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">30-240</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">12</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">参考文献<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid windowtext 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">与考试科目相关的参考用书、课外辅导资料，如导师论文、期刊等。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">20-100</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
      <tr>
        <td width="32" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">13</span> 
          </p>
        </td>
        <td width="70" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">复试讲义、课件、笔记<span></span></span> 
          </p>
        </td>
        <td width="238" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:黑体;">应对复试考试的相关讲义、</span><span style="font-family:黑体;">ppt</span><span style="font-family:黑体;">、笔记。<span></span></span> 
          </p>
        </td>
        <td width="153" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <b><span style="font-family:黑体;"> </span></b> 
          </p>
        </td>
        <td width="138" style="border:solid black 1.0pt;">
          <p align="left" class="MsoNormal">
            <span style="font-family:楷体;">50-300</span><span style="font-family:楷体;">元<span></span></span> 
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
<p></p></div></div>

      </div>
    
    </div>
  </div>
</div>