<div class="modal fade modal_add_openClass_protocol" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> 新助邦公开课发布规则</h4>
      </div>

        <div class="modal-body">
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
            <h2>我是公开课协议</h2>
        </div>

        <div class="modal-footer">
          </div>
    </div>
  </div>
</div>