<include file='Common/header'/>
<div class="g_container mt_20 f_clearfix">
 
	
    <div class="g_row">
 <div class="g_cell_12 mb_20 m_box">
 
 <div id="picScroll" class="curpicScroll pd_30">
				<div class="hd">
						<span class="next"><</span>
						<span class="prev">></span>
                        <h2 style="padding:20px;">限时兑换</h2>
				</div>
				<div class="bd">
		  		<ul class="m_curlist m_boxlistp">
					 <li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
					</ul>
		  		<ul class="m_curlist m_boxlistp">
					 <li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
					</ul>
		  		<ul class="m_curlist m_boxlistp">
					  <li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item m_box"><div class="m_imgbox"><a href="#"><img _src="images/test/198.jpg" src="images/test/50.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><p>活动时间：2013.12.24</p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
					</ul>
				</div>
			</div>
  </div> 
        
        <div class="g_cell_12 mb_20 m_box">
   <h2 style="padding:30px; font-size:24px;">大家都在看：**奖品</h2>
    <header class="u_tab2">
				<ul>
					<li class="u_tab2_item"><i class="ico"></i>网校课程</li>
					<li class="u_tab2_item"><i class="ico"></i>直播课程</li>
                    <li class="u_tab2_item"><i class="ico"></i>电子资料</li>
					<li class="u_tab2_item"><i class="ico"></i>实体书籍</li>
                    <li class="f_fr"><a href="">按金币<i class="u_ico u_ico_cdown"></i></li>
				</ul>
			</header>
            
            <ul id="spgc_1box" class="m_boxlist2 f_clearfix pd_10 mt_10">
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
				<li class="m_item"><div class="m_imgbox"><a href="#"><img src="images/test/198.jpg" /></a></div><div class="m_text"><h3>奖品名</h3><h4>主讲人：夏老师</h4><p>活动时间：2013.12.24<br></p><div class="f_clearfix"><strong class="f_fr">300积分</strong><a class="u_btn_sl" href="">兑换</a></div></div></li>
			</ul>
   </div>
         
	</div>
    
   
    
</div>

<script type="text/javascript">
	TouchSlide({ 
		slideCell:"#picScroll",
		pnLoop:"false", // 前后按钮不循环
		effect:"left"
	});
</script>

<include file='Common/footer'/>