<include file="Common/header"/>
<div class="g_container mt_20 f_clearfix">
  <div class="g_row">
  	<div class="g_cell_12 m_box pd_20 ret_g">
  	  <header class="u_paytitle"><p><span><b>1</b>学生提交退货申请</span><span class="on"><b>2</b>等待退货</span><span><b>3</b>确认退货</span><span></p><h3>退货流程</h3></header>
      <h4 class="pt_20 pl_20">您已同意学生退货</h4>
      <p class="pt_10 pl_20 f_cl9">学生将在7天内寄回资料</p>
      <ul class="m_form f_clearfix pt_20">
        <li class="m_item" style="text-align:center">
        <input type="button" href="{:U('/member/order/index')}" class="u_btn_sl" style="margin-left:10px;" value="我知道了">
        </li>
      </ul>
  	</div>
  	<div class="g_cell_12 m_box mt_20"></div>
  </div>
</div>
<include file="Common/footer"/>