<include file="Common/header"/>
<div class="g_container mt_20 f_clearfix">
  <div class="g_row">
  	<div class="g_cell_12 m_box pd_20 ret_g">
  	  <header class="u_paytitle"><h3>退货流程</h3><p><span class="on"><b>1</b>学生提交退货申请</span><span><b>2</b>等待退货</span><span><b>3</b>确认退货</span></p></header>
       <div class="thxz pd_20">
        <h4>学生申请退货理由：</h4>
        <div class="pt_5">
        <foreach name='Think.config.order_refund_reason' item="r" key='i'>
          <input type="radio" <eq name='o.refund_reason' value='$i'>checked='checked'</eq>>&nbsp;{$r}&nbsp;&nbsp;&nbsp;
</foreach>
          <span class="f_cll">注：电子资料一概不能退货</span></div>
          <p style="width:100%; background:#f8f8f8; padding:10px; margin-top:10px;">{$o.refund_description}</p>
          <div style="text-align:center; margin-top:20px;">
          <input type="button" class="u_btn_sl" value="同意退货" onclick="ok_refund(this);">
          <input type="button" class="u_btn_sl" value="拒绝退货" onclick="reject_refund(this);" style="margin-left:20px;">
          </div>
      </div>
      <div class="thxz pd_20">
        <h4>退货须知：</h4>
        <h5>第一个15天内（协商退货期）：</h5>
        <p>１、学生与您协商退货退款。<br>２、如果您不同意退货，学生只能提交仲裁。（一旦学生提交仲裁，您的个人主页上会显示出仲裁的次数，对您的口碑还是影响的，所以请尽量协商，避免仲裁情况发生）<br>３、超过您发货后15天的，或者学生没有提供充分证据的情况下，新助邦原则上会支付资料费给您。<br></p>
        <h5>第二个15天内：仲裁期</h5>
        <p>1、新助邦在实施前将裁决结果通知双方（开始计时）：如不同意新助邦的裁定，须在1５天内提交法律程序文件，如１５日内不走法律程序的，视为尊重新助邦的裁定，款项将自动给到学生或老师的新助邦账户上。<br>2、如果15天内，对新助邦的裁决没有执行的，且没有提出法律仲裁的。则无论何种原因，都视为违约：如果是学生违约，则款项全部付给老师；如果是老师违约，则款项全部退给学生。</p>
        <div class="tsbox">温馨提醒：<br>1、一旦仲裁，程序就会非常复杂而且耗时，所以请在第一个15天内，协商解决。<br>2、一旦提交仲裁，双方不能相互评价。但您的详情页会留下仲裁次数的记录。</div>
      </div>
    </div>
  </div>
</div>

<include file="Common/footer"/>
<script type="text/javascript">
	var id = {$_GET.id};
	function ok_refund(t){
		$.post("",function(){
            window.location.href = "{:U('/member/order/okRefundOk',['id'=>$_GET[id]])}";
        })
        return false;
	}
	function reject_refund(t){
		$.post(" {:U('/member/order/receive')} ",{id:id},function(){
            window.location.href = "{:U('/member/order/index')}";
        })
	}
</script>