<include file="Common/header"/>
<div class="g_container mt_20 f_clearfix">
  <div class="g_row">
    <div class="g_cell_12 m_box pd_20 paystep2">
      <header class="u_paytitle"><h3>购买成功</h3></header>
      <div class="pay_ok">
        <strong><i class="u_ico_OK"></i>恭喜你!订单提交成功</strong>
        <p><span>充值订单编号：{$o.id}</span><span>支付方式：
        <eq name='o.cash_id' value='0'>
        余额支付
        <else/>
        {:C("cash_pay_types")[$o[Cash][is_alipay]]}
        </eq>
        </span><span>金额：{:D("ServiceOrder")->fee($o[id])}元</span></p>
       <div class="pt_10 pd_10 f_cll">您已成功支付，可以进入学习中心开始学习啦~</div>
        <div class="payok_btnbox mt_50">
          <input type="button" value="查看订单" href="<gt name='o.num' value='0'>{:U('/member/ServiceOrder/show',['id'=>$o['id']])}<else/>{:U('/member/ServiceOrder')}</gt>" class="u_btn_sl">
	  <!-- <input type="button" value="查看订单" href="{:U('/member/ServiceOrder')}" class="u_btn_sl">-->
          <input type="button" href="{:U('/home/service/detail',['id'=>$o['service_id']])}" value="继续订购&gt;&gt;" class="u_btn_sc">
        </div>
      </div>
    </div>
  </div>
</div>

<include file="Common/footer"/>