<include file="Common:admin_header" />
<form  method="POST">
<div class="form-group">
    <label >分类</label>
    <select class="form-control" name="type">
    <foreach name='Think.config.essay_types' item='e' key='k'>
    	<option value="{$k}" <if condition="$re['type'] eq $k">selected<else/></if>>{$e}</option>
    </foreach>
    </select>
  </div>
    <div class="form-group">
    <label >标题</label>
    <input type="text" name="title" class="form-control" value="{$re['title']}">
  </div>

  <div class="form-group">
    <label >内容</label>
    <textarea class="form-control" name="content" rows="10">{$re['content']}</textarea>
  </div>
  <input type="submit" class="btn btn-info" value="保存">
  </form>
<include file="Common:admin_footer" />
