<include file="Common:admin_header" />
<a class="btn btn-outline btn-success" href="{:U("/admin/essay/add")}">添加</a>
<table class="table table-striped">
  <thead>
    <tr>
    <td>id</td>
    <td>类型</td>
    <td>标题</td>
    <td>内容</td>
    <td>时间</td>
    <td>操作</td>
    </tr>
  </thead>
    <foreach name="list" item="c">
    <tr>
      <td>{$c.id}</td>
      <td>{$c.type}</td>
      <td>{$c.title}</td>
      <td><a href="javascript:void(0)">查看</a></td>
      <td>{$c.add_time}</td>
      <td>
        <a href="{:U('admin/essay/edit',['id'=>$c['id']])}"  class="btn btn-info">编辑</a>
        <a href="{:U('delete')}?id={$c['id']}"  class="btn btn-danger">删除</a>
      </td>
    </tr>
    </foreach>
</table>
<include file="Common:admin_footer" />
