
      <div id="uclTab_3box" class="pd_20">
        <header class="u_paytitle mb_30"><h3>退货信息</h3></header>
        <div class="paytable">
          <ul class="paytable_title">
            <li class="paytab_item1"></li>
            <li class="paytab_item2">
              <div class="paytab_user"><div class="m_imgbox"><img src="images/test/90.jpg" alt=""></div>用户名</div>
              <div class="paytab_NO">订单编号：32154165496847984894198</div>
            </li>
            <li class="paytab_item3">单价</li>
            <li class="paytab_item3">数量</li>
            <li class="paytab_item3">小计</li>
            <li class="paytab_item3">操作</li>
          </ul>
          <ul>
            <li class="paytab_item1"></li>
            <li class="paytab_item2">
              <div class="paytab_tit">天津大学（天大）考研复试管理学基础资料</div>
            </li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3"><div class="paytab_amount"><a class="ico_lessen" href=""></a>1<a class="ico_add" href=""></a></div></li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3">删除</li>
          </ul>
          <ul>
            <li class="paytab_item1"></li>
            <li class="paytab_item2">
              <div class="paytab_tit">天津大学（天大）考研复试管理学基础资料</div>
            </li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3"><div class="paytab_amount"><a class="ico_lessen" href=""></a>1<a class="ico_add" href=""></a></div></li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3">删除</li>
          </ul>
          <ul>
            <li class="paytab_item1"></li>
            <li class="paytab_item2">
              <div class="paytab_tit">天津大学（天大）考研复试管理学基础资料</div>
            </li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3"><div class="paytab_amount"><a class="ico_lessen" href=""></a>1<a class="ico_add" href=""></a></div></li>
            <li class="paytab_item3">&yen;30</li>
            <li class="paytab_item3">删除</li>
          </ul>
        </div>
        <div class="f_clearfix mb_30 mt_10">
          <div class="paytab_txetbox">
            <p class="f_cl9"><span class="f_cll">退款时间：</span>收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址</p>
            <p class="f_cl9"><span class="f_cll">退款方式：</span>收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址</p>
            <p class="f_cl9"><span class="f_cll">退款地址：</span>收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址收货地址</p>
          </div>
          <div class="paytab_submitbox  f_fr"><strong>退款金额：&yen;130</strong></div>
        </div>
      </div>