<include file="../Application/Home/View/Common/header.html"/>
<include file="Common/top_user_info"/>
<include file="Common/nav"/>
<div class="g_container mt_20">
	<div class="g_row">
	<section class="g_cell_9 pt_10">
       
        <div class="f_ss_gr">
<form>
<div class="input_ss">
<input type="text" class="s_ss_content" name="keywords" value="{$_GET['keywords']}">
</div>
<div class="s_act">
<input type="submit" class="ico_s" value="">
</div>
</form>
<div class="fss_btn">
<input type="button" style="width:100%;" value="发直播课" class="u_btn_sl">
</div>
</div>
<div class="clear mb_15"></div>
       
       <div class="op_cls m_box">

	   <ul class="u_tab2" id="nav">			
			  <li  class="u_tab2_item <neq name='_GET.type' value='1'>hover</neq>"><a href="{:U('/member/OpenClass/index')}">我发布的直播课</a></li>
			 <!-- <li  class="u_tab2_item <eq name='_GET.type' value='1'>hover</eq>"><a href="{:U('/member/OpenClass/index',['type'=>1])}">我参加的直播课</a></li>
			 -->
			</ul>
                <include file="../Application/Home/View/Common/openClass3ul.html"/>
              <div class="clear"></div>
		   <div class="u_fy">
			   <php>echo pageHtml($cou);</php>
		   </div>
                </div>
       			                                                   
		</section>

	<include file="Common/right"/>
	</div>

</div>

<script type="text/javascript">
	$("input[value=发直播课]").click(function(){
		window.location.href="{:U('/home/OpenClass/add')}";
	})
</script>
<include file="../Application/Home/View/Common/footer.html"/>