<section class="g_cell_12 hot_ds m_box">
  <header class="u_tab2">
    <ul class="f_clearfix">
      <li id="idc1_1" onclick="setTab('idc1_','u_tab2_item',1,3)" class="u_tab2_item hover">您可能喜欢</li>
      <li id="idc1_2" onclick="setTab('idc1_','u_tab2_item',2,3)" class="u_tab2_item">删除记录</li>
      <li id="idc1_3" onclick="setTab('idc1_','u_tab2_item',3,3)" class="u_tab2_item">最近浏览</li>
    </ul>
  </header>
  <ul id="idc1_1box" class="m_sublist f_clearfix">
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"><i class="u_ico_hot"></i></div>
      <div class="idc1_txt">
        <h3><i class="u_ico_ds1"></i>测试标题1</h3>
        <div class="idc1_line1"><a href="">测试大学</a><a href="">测试专业</a></div>
        <div class="idc1_line2"><a href="">类似需求</a><a href="">类似服务</a></div>
        <div class="idc1_line3"><small>2016-5-6</small><strong>&yen;345</strong></div>
      </div>
    </li>
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"></div>
      <div class="idc1_txt">
        <h3><i class="u_ico_ds2"></i>测试标题1</h3>
        <div class="idc1_line1"><a href="">测试大学</a><a href="">测试专业</a></div>
        <div class="idc1_line2"><a href="">类似需求</a><a href="">类似服务</a></div>
        <div class="idc1_line3"><small>2016-5-6</small><strong>&yen;345</strong></div>
      </div>
    </li>
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"></div>
      <div class="idc1_txt">
        <h3><i class="u_ico_ds3"></i>测试标题1</h3>
        <div class="idc1_line1"><a href="">测试大学</a><a href="">测试专业</a></div>
        <div class="idc1_line2"><a href="">类似需求</a><a href="">类似服务</a></div>
        <div class="idc1_line3"><small>2016-5-6</small><strong>&yen;345</strong></div>
      </div>
    </li>
  </ul>
  <ul id="idc1_2box" class="m_sublist scjl f_clearfix" style="display:none;">
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"><i class="u_ico_hot"></i></div>
      <div class="idc1_txt">
        <h3>用户名</h3>
        <div class="idc1_line1">测试标题1测试标题1测试标题1测试标题1测试试标测试标题1</div>
        <div class="idc1_line3"><span class="u_btn_sl f_fr">重新购买</span><strong>&yen;345</strong></div>
      </div>
    </li>
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"><i class="u_ico_hot"></i></div>
      <div class="idc1_txt">
        <h3>用户名</h3>
        <p class="idc1_line1">测试标题1测试标题1测试标题1</p>
        <div class="idc1_line3"><span class="u_btn_sl mr_10">重新购买</span><strong>&yen;345</strong></div>
      </div>
    </li>
    <li class="m_item">
      <div class="m_imgbox"><img src="/images/test/180.jpg"><i class="u_ico_hot"></i></div>
      <div class="idc1_txt">
        <h3>用户名</h3>
        <div class="idc1_line1">测试标题1测试标题1测试标题1</div>
        <div class="idc1_line3"><span class="u_btn_sl mr_10">重新购买</span><strong>&yen;345</strong></div>
      </div>
    </li>
  </ul>
</section>