<include file="header"/>

<div class="download">
	<div class="top_dow">
    <div class="app_down">
    <div class="code_img">
    <img src="images/main/app_dow.png">
  
    </div>
  <!--  <div class="down_btn">
  <div class="down"><img src="images/icons/collection.png">&nbsp;&nbsp;Android下载</div>
  <div class="down"><img src="images/icons/systemlist4.png">&nbsp;&nbsp;iphone下载</div>
    </div>-->
    </div>
    </div>
  
</div>

  <div class="bottom_dow">
    <div class="app_img">
    <div class="app_img_box" id="uclTab_1box">
    <img src="images/main/截图二.png" >
    </div>
    <div class="app_img_box" id="uclTab_2box" style="display:none;">
    <img src="images/main/截图三.png">
    </div>
    <div class="app_img_box" id="uclTab_3box" style="display:none;">
    <img src="images/main/截图四.png">
    </div>
    <div class="app_img_box" id="uclTab_4box" style="display:none;">
    <img src="images/main/截图五.png">
    </div>
    </div>
    <div class="app_txt">
    <ul>
    <li class="app_item hover" id="uclTab_1" onClick="setTab('uclTab_','app_item',1,4)">
    <h4>01&nbsp;&nbsp;自动推荐匹配专业</h4>
    <h5>系统消息直接看</h5>
    </li>
       <li class="app_item" id="uclTab_2" onClick="setTab('uclTab_','app_item',2,4)">
    <h4>02&nbsp;&nbsp;“校友圈”和“专业圈”</h4>
    <h5>社交学习共成长</h5>
    </li>
       <li class="app_item" id="uclTab_3" onClick="setTab('uclTab_','app_item',3,4)">
    <h4>03&nbsp;&nbsp;资料&nbsp;&nbsp;答疑&nbsp;&nbsp;授课&nbsp;&nbsp;直播</h4>
    <h5>海量资源，多种方式任你选</h5>
    </li>
       <li class="app_item" id="uclTab_4" onClick="setTab('uclTab_','app_item',4,4)">
    <h4>04&nbsp;&nbsp;学习效果有保证</h4>
    <h5>个性化方案，学习计划、支付、评价等多种手段</h5>
    </li>
    </ul>
    </div>
    <div class="clear"></div>
    </div>
<include file="footer"/>