

<div class="pop_bg" id="show_yue">
<div class="cls_made">
<div class="cls_top">约课计划</div>
<div class="cls_con">
<ul>
<li class="cls_titem"><div class="cls_t">名称：</div><div class="cls_ct" name='name'></div></li>
<li class="cls_titem clear"><div class="cls_t">时间：</div><div class="cls_ct" name='set_time'></div></li>
<!--<li class="cls_titem clear"><div class="cls_t">目标：</div><div class="cls_ct" name='target'></div></li>-->
<li class="cls_titem clear"><div class="cls_t">听课方式：</div><div class="cls_ct" name='listen_type'></div></li>
<li class="cls_titem cls_mbtn clear"><input type="button" onclick="$('#show_yue').hide();" class="u_btn_sl" value="关闭"></li>
</ul>
</div>
</div>
</div>