<include file="Common/header"/>
<!--<php>
	$order = M("service_order_view")->getById(I('request.id'));
	$c = M("contract")->where(['order_id'=>I('request.id')])->order('id desc')->find();
	$ps = M("learning_periods")->where(['contract_id'=>$c['id']])->select();
</php>-->
<!--引入文本编辑器-->
<div class="g_container mt_20 m_box pd_20">
<div class="u_paytitle"><h3>添加约课计划</h3></div>

  
  <!--老师-->
    <form  method="post">
<ul class="m_form f_clearfix pd_20">
    <li class="m_item"><div class="m_formtit">课程标题：</div>
      <input type="text" class="u_inp_t long" name="name" placeholder="建议修改为醒目的标题" maxlength="16">
    </li>
    <li class="m_item"><div class="m_formtit ckyb">课程内容：</div>

        <div style="margin-left: 200px">
                    <textarea id='edit' name="content" style="margin-top: 30px;margin-left:150px;width:600px;height:300px" >
                    </textarea>
        </div>
        <!-- <textarea name="detail" class="u_inp_t" placeholder="输入你想说的话"></textarea>-->
        <script type="text/javascript">
            $('#edit').froalaEditor({
                //heightMin:200,
                height: 200,
                language: "zh_cn",
                theme: "gray",
                imageUploadURL: "{:U('home/common/editorImage')}",//上传到本地服务器
                imageUploadParam:'file', //文件名称 <input type=file name=file>
                //imageUploadParams: {control: "headline",action:"uploads",key:$('input[name="key"]').val()},  //修改图片的参数

                toolbarButtonsXS: ['bold','align','insertImage','undo','redo'], //,'undo','redo'
                imageInsertButtons: ['imageUpload'],
                imageEditButtons: ['imageReplace', 'imageRemove'], //, 'imageAlign'
            }).on('froalaEditor.image.beforeUpload', function (e, editor, images) {
                $('.fr-image-progress-bar-layer').addClass('fr-active');
            }).on('froalaEditor.image.inserted', function (e, editor, $img, response) {
                if( $('.fr-message').text()=='Loading image' ){
                    $('.fr-image-progress-bar-layer').removeClass('fr-active');
                    $img.froalaEditor('events.focus');
                }
            });
            </script>
    </li>
     <li class="m_item"><div class="m_formtit ckyb">课程讲义：</div>

                <div style="margin-left: 200px">
                    <textarea id='edit1' name="content_reference" style="margin-top: 30px;margin-left:150px;width:600px;height:300px " >
                    </textarea>
                </div>
        <!-- <textarea name="detail" class="u_inp_t" placeholder="输入你想说的话"></textarea>-->
        <script type="text/javascript">
            $('#edit1').froalaEditor({
                //heightMin:200,
                height: 200,
                language: "zh_cn",
                theme: "gray",
                imageUploadURL: "{:U('home/common/editorImage')}",//上传到本地服务器
                imageUploadParam:'file', //文件名称 <input type=file name=file>
                //imageUploadParams: {control: "headline",action:"uploads",key:$('input[name="key"]').val()},  //修改图片的参数

                toolbarButtonsXS: ['bold','align','insertImage','undo','redo'], //,'undo','redo'
                imageInsertButtons: ['imageUpload'],
                imageEditButtons: ['imageReplace', 'imageRemove'], //, 'imageAlign'
            }).on('froalaEditor.image.beforeUpload', function (e, editor, images) {
                $('.fr-image-progress-bar-layer').addClass('fr-active');
            }).on('froalaEditor.image.inserted', function (e, editor, $img, response) {
                if( $('.fr-message').text()=='Loading image' ){
                    $('.fr-image-progress-bar-layer').removeClass('fr-active');
                    $img.froalaEditor('events.focus');
                }
            });
</script>
    </li>

     <li class="m_item"><div class="m_formtit">试听方式：</div>
    <input type="text" class="u_inp_t long"  name="listen_type" placeholder="可为QQ号，直播课堂或链接地址等">

</li>
    <li class="m_item"><div class="m_formtit">上课时间：</div>
        <input type="text" class="u_inp_t long"  name="set_time" placeholder="请设置上课的时间">

    </li>

  <li  class="m_item" style="margin-left:18%;">
  <div class="op_s">
  <input type="radio" name="is_open" checked style="float:left;" value=1>
  <div class="txt_os">
  <h4>公开</h4>
  <p>建议公开，就有更多的同学能够试听！</p>
  </div>
  </div>
   <div class="op_s">
  <input type="radio" name="is_open" style="float:left;" value=0>
  <div class="txt_os">
  <h4>不公开</h4>
  
  </div>
  </div>
  </li>
    <li class="m_item rel_inpr"><div class="m_formtit"></div>
      <input type="submit" class="u_btn_sl" value="确认提交" >
    </li>    
  </ul>
        </form>
</div>


<include file="Common/footer"/>

<script type="text/javascript">
	/*$("form").submit(function(){
		$(this).ajaxSubmit(function(d){
			window.location.href = "{:U('/member/serviceOrder/show',['id'=>$o['id']])}";
		})
		return false;
	})
*/
	$("[name=set_time]").go_datetime();
	</script>
