<div class="ucl_sslist">
	<ul>
	<foreach name="_mps" item="mp">
		<li class="ucl_ssitem m_box member_post">
	    <div class="ucl_ssusbox">
		  	<div class="m_imgbox" style="height: 84px; line-height: 84px;"><img alt="" src="{$mp[avatar]}"></div>
	    </div>
	  	<div class="ucl_ssrbox">
	  	  <dl class="ucl_ssmenu" >
	  	  	<dt><span class="u_ico_cdown is_top"></span></dt>
				<if condition='($mp[member_id] eq $_SESSION[id]) OR ($mp[is_master] eq 1)'>
	  	  	<dd class="mpdelete" data-id={$mp.id}>删除</dd>
	  	  	</if>
	  	  </dl>
	  		<div class="ucl_ssname"><h4>
	  		<a href="{:id2path($mp[member_id])}">
	  		{$mp[nickname]}
	  		</a>
	  		</h4>
	  			<div class="talk_tag">
                <ul>
                <eq name='mp.is_top' value='1'>
                <li class="talk_tag_item"><img src="images/icons/talk_top.png"></li>
                </eq>
                <eq name='mp.is_hot' value='1'>
                <li class="talk_tag_item"><img src="images/icons/talk_hot.png"></li>
                </eq>
                <eq name='mp.is_announcement' value='1'>
                <li class="talk_tag_item"><img src="images/icons/talk_announcement.png"></li>
                </eq>
                </ul>
				<if condition="$mp[reward] eq 0">
				<p>&nbsp;</p>
				<else/>
				<if condition="$mp[accept] eq '' ">
				 <p class="f_fr fs_12" style="margin-top:-10px; margin-right:5px;">悬赏&nbsp;&nbsp;<strong class="txt_oragin fs_16">{$mp[reward]}元</strong></p>
				<else/>
                 <p class="f_fr fs_12 txt_green" style="margin-top:-10px; margin-right:5px;">已悬赏&nbsp;&nbsp;<strong class="txt_oragin fs_16">{$mp[reward]}元</strong></p>
				</if>
                
				</if>
				
                </div>

	  		<span>{$mp[circle_name]}</span></div>
	  		<div class="ucl_sstext">
	  		  <p>{:parse_emotion($mp[content])}</p>
	  		  <php>
	  		  	$images = M("attachment")->where(['type'=>0,"object_id"=>$mp[id]])->getField("path",true);
				$p = 0;
	  		  </php>
			    <if condition="$images">
	  		  <ul id="img_{$mp[id]}">
	  		  <foreach name="images" item="path">			  
	  		  	<li class="m_imgbox" style="height: 147px; line-height: 147px;" onclick="showImage('img_{$mp[id]}','{$p}')"><img src="{$path}"></li>
				<php>$p++;</php>
	  		  </foreach>
	  		  </ul>
			  </if>
	  		</div>

			<if condition="$mp[pid] eq 0">
			<else/>
			            <php>
						   $fmp = M("member_post")->table("member_post member_post,mb_member mb_member")->where(['member_post.id'=>$mp[pid],'member_post.member_id = mb_member.id'])->field("member_post.*,mb_member.nickname")->find();
						 </php>           
						 <if condition="$fmp[reward] eq 0">
						  <div class="zf_ssbox"  href="{:U('/home/memberPost/show',['id'=>$fmp[id]])}">
						  <img class="zfss_img" src="images/icons/sy_jt1.jpg">
                         <p> <a>@{$fmp.nickname}&nbsp;&nbsp;{$fmp.content}</a></p>
						   </div>
						 <else/>
						 <div class="zf_ssbox"   href="{:U('/home/memberPost/detail',['id'=>$fmp[id]])}">
						  <img class="zfss_img" src="images/icons/sy_jt1.jpg">
						  <p><a>@{$fmp.nickname}&nbsp;&nbsp;{$fmp.content}</a></p>
						   </div>
						 </if>
			</if>

	  	</div>

		<if condition="$mp[reward] eq 0">
				<p>&nbsp;</p>
				<else/>
               <div class="quizebox clear">
                    <div class="qinviteface">

					<if condition="$mp[accept] eq '' ">
                       <if condition="$mp[invite] eq 0">
				         <p>&nbsp;</p>
				        <else/>
				<php>
				   $inviteimg = M("mb_member")->where(['id'=>$mp[invite]])->field('avatar')->find();
				</php>
               <img alt="" src="{$inviteimg.avatar}">
				</if>

                    </div>
                    
                    <div class="quizetext">
             <if condition="$mp[invite] eq 0">
				<p>&nbsp;</p>
				<else/>
				<php>
				  $inname = M("mb_member")->where(['id'=>$mp[invite]])->field('nickname')->find();
				   if (M("answer")->where(['member_id'=>$mp[invite],'object_id'=>$mp[id]])->find()) {
				       $mp['inaned'] = '1';
			       }else{
				       $mp['inaned'] = '0';
				   }
				</php>
                 <h4 class="f_fl">{$inname.nickname}
				 <if condition="$mp[inaned] eq '0' ">
				  <span class="txt_oragin fs_12">&nbsp;&nbsp;待回答</span>
				 <else/>
				  <span class="txt_green fs_12">&nbsp;&nbsp;已回答</span>
				 </if>
                 
				 </h4>              
				</if>
					<else/>
					<php>
					$ans = M("answer")->where(['id'=>$mp[accept]])->find();
					$rem = M("mb_member")->where(['id'=>$ans[member_id]])->field('avatar,nickname')->find();
					</php>					
               <img alt="" src="{$rem.avatar}">
				
                    </div>                    
                    <div class="quizetext">
           
                 <h4 class="f_fl">{$rem.nickname}				 
                  <span class="txt_green fs_12">&nbsp;&nbsp;已获悬赏</span>
				 </h4>              
			
					</if>				                 
				  	<php>
					 if(M("benefit")->where(['member_id'=>session('id'),'member_post_id'=>$mp[id]])->find()){
					  $mp['isbe'] = '1';
					 }else{
					  $mp['isbe'] = '0';
					 }
					</php>
					<if condition="$mp[accept] eq ''">
					
					<if condition="$mp[ansed] eq '1' ">
                      <p class="u_btn_bcn f_fr mb_10">已抢答</p>
					<else/>
					<if condition="$mp['isme'] eq '1'">
					<p>&nbsp;</p>
					<else/>
					   <a class="u_btn_bc f_fr mb_10" href="{:U('/memberPost/answer',['id'=>$mp['id']])}">抢答</a>
					</if>
                   
					</if>

					<else/>
					<if condition="$mp[isme] eq '1' OR $mp[isbe] eq '1'">
					 <a class="u_btn_sl f_fr mb_10" href="{:U('/memberPost/anscontent',['id'=>$mp[id]])}">看答案</a>
					<else/>
					<a class="u_btn_sl f_fr mb_10" href="{:U('/memberPost/benefit',['id'=>$mp[id]])}">看答案</a>
					</if>
                     
					</if>

		      <if condition="$mp[answer] eq '' ">

					<else/>
                 <div class="ansmember clear">
                    <p>抢答者</p>
				
                    <ul>
					<php>
					$ans = M("answer")->where(['object_id'=>$mp[id]])->field("member_id")->select();
					foreach($ans as $i => $c){
					  $m = M("mb_member")->where(['id'=>$c['member_id']])->field('avatar')->find();
   				      $ans[$i]['avatar'] = $m['avatar'];
					}	
					</php>
					<foreach name="ans" item="an">
					  <li class="ansm">  
                   <img src="{$an.avatar}">
                    </li>
					</foreach>                               
                    </ul>
                    <div class="clear"></div>
                    </div>
                    
                    </div>
					</if>
                                 
                    <div class="clear"></div>
                    </div>
				</if>   

		  <div class="ucl_ssoperation clear">
		  <if condition="$mp['reward'] eq '0' OR $mp['reward'] eq ''">
		  <span class="f_fl">
          <a href="{:U('/home/memberPost/show',['id'=>$mp[id]])}">{$mp[add_time]}</a>
		  </span>
		  <else/>
		  <if condition="$mp['isme'] eq '1'">		
		  <span class="f_fl">
		  <a href="{:U('/home/memberPost/detailme',['id'=>$mp[id]])}">{$mp[add_time]}</a>
		  </span>
		  <else/>
		  <span class="f_fl">
		   <a href="{:U('/home/memberPost/detail',['id'=>$mp[id]])}">{$mp[add_time]}</a>
		   </span>
		  </if>
		  </if>	  	  	  	  
		  <span class="hover" onclick="setlist('shuos{$mp[id]}_','',1,3)" id="shuos{$mp[id]}_1">评论：<span id="cnum_{$mp[id]}">{$mp[comments_num]}</span></span>|<span onclick="setlist('shuos{$mp[id]}_','',2,3)" id="shuos{$mp[id]}_2">转发：{$mp[f_number]}</span>|<span id="shuos{$mp[id]}_3" onclick="fzan({$mp.id})">赞：{$mp[praise_num]}</span></div>
  <div style="display:none;" class="ucl_ssreplybox clear" id="shuos{$mp[id]}_1box">
  <img src="/images/icons/sy_jt1.jpg" class="sh_img">
  			<php>
  				$_objectId=$mp['id'];
  				$_commentType=3;
  				$comments = get_comments($_commentType,$_objectId);
  			</php>
	  	   <include file="../Application/Home/View/Common/_addComment.html"/>
		  	<include file="../Application/Home/View/Common/_comments.html"/>
		  	</div>

  <div style="display:none;" class="ucl_sszfbox clear" id="shuos{$mp[id]}_2box">
  <img src="/images/icons/sy_jt1.jpg" class="zf_img">
  <include file="_f"/>
    <ul class="ucl_ssuslist">
	<php>
	$fms = M("member_post")->table("member_post member_post,mb_member mb_member")->where(['member_post.pid' => $mp[id],'member_post.member_id = mb_member.id'])->field('mb_member.avatar,mb_member.nickname')->select();
	</php> 
	<foreach name="fms" item="fm">
    	<li><div class="m_imgbox" style="height: 24px; line-height: 24px;"><img alt="" src="{$fm.avatar}"></div><a href="">{$fm.nickname}</a>转发了此说说</li>
    </foreach>	
    </ul>
		  	</div>
	  </li>
	         </foreach>      		
	</ul>
</div>

<include file="Common/_comments.js"/>

<script type="text/javascript">
  function fzan(id){
  $.post("{:U('/home/MemberPost/praise')}",{'id':id},function(d){
	  if(!d.suc){
	    window.location.href='{:U('/home/member/login')}?url={$_SERVER[REQUEST_URI]}';
	  }else{
		   window.location.reload();
	  }
      })
  }
</script>