<include file="Common/header"/>
<div class="g_container mt_20 f_clearfix">
  <div class="g_row">
    <div class="g_cell_12 m_box pd_20 paystep2">
      <header class="u_paytitle">
      <h3>发布成功</h3>     	
      </header>
      <div class="pay_ok">
        <strong><i class="u_ico_OK"></i>恭喜你!问题发布成功</strong>
        <p>
          <span>金额：{$o.reward}元</span></p>
        <div class="payok_btnbox mt_50">
          <input type="button" value="返回首页" href="{:U('/home/memberPost')}" class="u_btn_sl">
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Common/footer"/>
