<include file="Common:admin_header" />
<table class="table table-striped">
  <thead>
    <tr>
    <td>id</td>
    <td>日期</td>
    <td>列别</td>
    <td>资金流向(从)</td>
    <td>资金流向(到)</td>
    <td>金额</td>
    <td>状态</td>
    </tr>
  </thead>
    <tr>
    <td>id</td>
    <td>2015-12-12</td>
    <td>支付宝</td>
    <td>用户A</td>
    <td>新助邦</td>
    <td>+100</td>
    <td>状态</td>
    </tr>

    <tr>
    <td>id</td>
    <td>2015-12-12</td>
    <td>微信</td>
    <td>用户A</td>
    <td>新助邦</td>
    <td>+100</td>
    <td>状态</td>
    </tr>


    <tr>
    <td>三方支付 充值</td>
    <td>2015-12-12</td>
    <td>支付宝</td>
    <td>用户A</td>
    <td>新助邦</td>
    <td>+100</td>
    <td>状态</td>
    </tr>

    <tr>
    <td>直播课 收费</td>
    <td>2015-12-12</td>
    <td>支付宝</td>
    <td>用户A</td>
    <td>新助邦</td>
    <td>+100</td>
    <td>状态</td>
    </tr>

     <tr>
    <td>提现</td>
    <td>2015-12-12</td>
    <td>支付宝(微信)(银行卡)</td>
    <td>新助邦</td>
    <td>用户A</td>
    <td>-100</td>
    <td>状态</td>
    </tr>

</table>
<include file="Common:admin_footer" />
